.albumTile {
  position: relative;
  text-align: center;
  width: 175px;

  .albumCover {
    z-index: 1;
    width: 175px;
    height: 175px;

    @media screen and (max-width: $tablet) {
      width: 150px;
      height: 150px;
    }
  }

  .albumInfo {
    visibility: hidden;
    position: absolute;
    z-index: 5;

    min-width: 175px;
    max-width: 300px;
    max-height: 175px;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -85%);
    padding: 1em;

    border: 1px solid #404040;
    background: rgba(255, 255, 255, 0.75)
  }

  &:hover {
    cursor: pointer;

    .albumInfo {
      visibility: visible;
    }
  }
}

/* Show the tooltip text when you mouse over the tooltip container */