#artistTiles {
  // margin: 0 auto;
  bottom: 0;
  
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  
}

.artistTile {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 3px;
  margin-bottom: 10px;

  padding: 10px;
  white-space: pre-wrap;
  text-align: left;
  background-color: whitesmoke;
  outline: none;
  transition: outline 500ms;

  .artistImgBox {
    flex: 1;
    .artistImg {
      width: 100%;
    }
  }
  .artistInfoBox {
    flex: 3;

    p {
      margin-top: .5em;
      margin-bottom: .5em;
    }
  }

  .excerpt {
    font-size: .8em;
  }

  .highlightBtn {
    height: 100%;
    margin-top: 0px;
    margin-bottom: auto;
  }
}

.complete {
  border: 1px dotted $color-secondary;
}

.highlight {
  outline: 3px dashed $blue;
}