#artistTiles {
  // margin: 0 auto;
  bottom: 0;
  
  overflow-y: auto;
  // -ms-overflow-style: none;
  scrollbar-width: thin;
  // &::-webkit-scrollbar {
  //   display: none;
  // }
  
}

.artistTile {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 3px;
  margin-bottom: 10px;

  padding: 10px;
  white-space: pre-wrap;
  text-align: left;
  background-color: whitesmoke;
  outline: none;
  transition: outline 500ms;

  .artistImgBox {
    flex: 1;
    .artistImg {
      width: 100%;
    }
  }
  .artistInfoBox {
    flex: 3;

    p {
      margin-top: .5em;
      margin-bottom: .5em;
    }
  }

  .excerpt {
    font-size: .8em;

    &--text {
      padding-bottom: .5em;
    }

    &--button {
      text-align: center;
      position: relative;
      width: 100px;
      background-color: $blue;
      font-weight: bold;
      border: none;
      // 
      border-radius: 2.5px;
      // cursor: pointer;

      a {
        display: inline-block;
        padding: 5px;
        text-decoration: none;
        color: white;

      }
    }
  }

  .highlightBtn {
    height: 100%;
    margin-top: 0px;
    margin-bottom: auto;

    input + label {
      display: none;
    }

    input:hover + label {
      display: inline-block;
      transition: display 500ms;
      position: absolute;
      right: calc(7.5% + 33px);
      width: auto;
      border: 1px solid black;
      background: white;
      font-size: 10px;
      margin-top: -3px;
      padding: 5px;
    }
  }
}

.complete {
  border: 1px dotted $color-secondary;
}

.highlight {
  outline: 3px dashed $blue;
}